<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authentication mode="Forms" />
    </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".csproj" mimeType="text/xml" />
        </staticContent>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <remove fileExtension=".csproj" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>